@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f0f5ff;
  --color-primary-100: #e5edff;
  --color-primary-200: #cddbfe;
  --color-primary-300: #b4c6fc;
  --color-primary-400: #8da2fb;
  --color-primary-500: #6875f5;
  --color-primary-600: #5850ec;
  --color-primary-700: #5145cd;
  --color-primary-800: #42389d;
  --color-primary-900: #362f78;
}
